.c-label {
  display: inline-block;
  font-family: var(--s2a-font-family-body, "Adobe Clean", sans-serif);
  font-weight: var(--s2a-font-weight-body, 400);
  font-size: var(--s2a-typography-font-size-body-md, 16px);
  line-height: var(--s2a-typography-line-height-body-md, 20px);
  letter-spacing: var(--s2a-typography-letter-spacing-body-md, 0);
  color: var(--s2a-color-content-default);
}
