/**
 * Marquee Component Styles
 * Main component wrapper for MediaSurface
 */

.c-marquee {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* Variant: Default - Fixed width (1440px) */
.c-marquee[data-variant="default"] {
  width: 100%;
  max-width: 100%;
}

.c-marquee[data-variant="default"] .c-marquee-media-surface {
  width: 1440px;
  max-width: 100%;
}

/* Variant: Fullwidth - Takes up 100% width and height */
.c-marquee[data-variant="fullwidth"] {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.c-marquee[data-variant="fullwidth"] .c-marquee-media-surface {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.c-marquee[data-variant="fullwidth"] .c-marquee-media-surface__media {
  width: 100%;
  height: 100%;
}
