.c-tag {
  display: inline-flex;
  align-items: flex-start;
  padding: var(--s2a-spacing-2xs, 4px) var(--s2a-spacing-xs, 8px);
  border-radius: var(--s2a-border-radius-2xs, 4px);
  background-color: var(--s2a-color-background-subtle, #f8f8f8);
  color: var(--s2a-color-content-label, #000);
  font-family: var(--s2a-font-family-eyebrow, "Adobe Clean", adobe-clean, sans-serif);
  font-size: var(--s2a-typography-font-size-eyebrow, 16px);
  font-weight: var(--s2a-font-weight-eyebrow, 700);
  line-height: var(--s2a-typography-line-height-eyebrow, 20px);
  letter-spacing: var(--s2a-typography-letter-spacing-eyebrow, 0);
  white-space: nowrap;
}
